<!-- Dies ist das Website Design. Nur ändern, wenn du dich auskennst. Dazu muss natürlich WYSIWYG deaktiviert werden, weil es den Code zerschießt. (Nach dem deaktivieren noch mal die Seite neu laden) -->
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<style type="text/css">
@media screen {
html, body {
	background: #533a20;
	color: #f9f5e0;
}
.dokuwiki div.page, .dokuwiki .pageId span {
	background: #f9f5e0;
	color: #533a20;
	border: none;
	box-shadow:  none;
}
.dokuwiki div.page h1, .dokuwiki div.page h3 {
	color: #64ae25;
}
#dokuwiki__header h1 span {visibility: hidden;}

#dokuwiki__header h1 img { 
	height: 74px;
	width: auto;
}
#dokuwiki__header a { color: #88c5ff; }
#dokuwiki__footer {display: none;}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Alfa Slab One', cursive;
	font-weight: normal;
}
.ProseMirror {
	background: white;
}
}
</style>
